.header {
  display: flex;
  width: 100%;
  height: 150px;
}
.list-header {
  display: flex;
  width: 90%;
 
}
.list-header ul {
  display: flex;
   margin: 0 auto;
   align-items: center;
}
.list-header li {
  list-style: none;
}
.list-header li a {
  text-decoration: none;
  color: aqua;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
margin-left: 150px;
}
.list-header li a:hover {
    color: yellow;
    text-decoration: underline;
}